In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import BayesianRidge
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score

In [3]:
df = pd.read_csv("car data.csv")

In [3]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [4]:
df.shape

(301, 9)

In [6]:
#Find unique value for various features
print(df['Seller_Type'].unique())
print(df['Fuel_Type'].unique())
print(df['Transmission'].unique())
print(df['Owner'].unique())

['Dealer' 'Individual']
['Petrol' 'Diesel' 'CNG']
['Manual' 'Automatic']
[0 1 3]

In [7]:
#check missing or null values
df.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [4]:
# encoding "Fuel_Type" Column
df.replace({'Fuel_Type':{'Petrol':0,'Diesel':1,'CNG':2}},inplace=True)

# encoding "Seller_Type" Column
df.replace({'Seller_Type':{'Dealer':0,'Individual':1}},inplace=True)

# encoding "Transmission" Column
df.replace({'Transmission':{'Manual':0,'Automatic':1}},inplace=True)

In [5]:
X = df.drop(['Car_Name','Selling_Price'],axis=1)
Y = df['Selling_Price']

In [6]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.1, random_state=2)

1. Bayesian regression

In [18]:
# Creating and training model
model = BayesianRidge()
model.fit(X_train, Y_train)

# Model making a prediction on train data
prediction = model.predict(X_train)

In [19]:
# Evaluation of r2 score of the model against the train set
print(f"r2 Score Of Test Set : {r2_score(Y_train, prediction)}")

r2 Score Of Test Set : 0.879604313798543

In [20]:
# Model making a prediction on test data
prediction = model.predict(X_test)

# Evaluation of r2 score of the model against the test set
print(f"r2 Score Of Test Set : {r2_score(Y_test, prediction)}")

r2 Score Of Test Set : 0.8476783218328441

2. Decision Trees

In [10]:
rt = DecisionTreeRegressor(criterion = 'squared_error', max_depth=5)

In [11]:
model_r = rt.fit(X_train, Y_train)

In [13]:
# Model making a prediction on train data
prediction = model_r.predict(X_train)

In [14]:
# Evaluation of r2 score of the model against the train set
print(f"r2 Score Of Test Set : {r2_score(Y_train, prediction)}")

r2 Score Of Test Set : 0.9682414428877715

In [15]:
# Model making a prediction on test data
prediction = model_r.predict(X_test)

# Evaluation of r2 score of the model against the test set
print(f"r2 Score Of Test Set : {r2_score(Y_test, prediction)}")

r2 Score Of Test Set : 0.8447063074984786